
html {
	height: 100%;
}

body {
	min-height: 100%;
	background: url('/images/background.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.slider-track {
	background-image: linear-gradient(to bottom, #353535 0%, #313131 100%);
}

.progress-bar {
  transition: width 0.0s ease;
}